# 날씨 변수에 따른 음주운전사고 예측을 위한 머신러닝

In [1]:
import pandas as pd

## 1. 데이터 불러오기

In [225]:
data = pd.read_csv('aws_acci_seoul_2017.csv')

In [226]:
data.head(10)

,지점일시,지점,일시,8h_celsius,8h_windD,8h_windV,8h_precipitaiton,8h_spotAtoPressure,8h_seaAtoPressure,8h_humidity,8h_insolation,8h_sunshine,사고번호,발생요일,발생시군구,사고내용,음주사고발생
0,4.002017e+12,400,2017010100,0.0000,0.0000,0.0000,0.0,0.0,0.0,0.000,0.0,0.0,NaN,NaN,NaN,NaN,False
1,4.002017e+12,400,2017010101,0.0000,0.0000,0.0000,0.0,0.0,0.0,0.000,0.0,0.0,NaN,NaN,NaN,NaN,False
2,4.002017e+12,400,2017010102,0.0000,0.0000,0.0000,0.0,0.0,0.0,0.000,0.0,0.0,NaN,NaN,NaN,NaN,False
3,4.002017e+12,400,2017010103,0.0000,0.0000,0.0000,0.0,0.0,0.0,0.000,0.0,0.0,NaN,NaN,NaN,NaN,False
4,4.002017e+12,400,2017010104,0.0000,0.0000,0.0000,0.0,0.0,0.0,0.000,0.0,0.0,NaN,NaN,NaN,NaN,False
5,4.002017e+12,400,2017010105,0.0000,0.0000,0.0000,0.0,0.0,0.0,0.000,0.0,0.0,NaN,NaN,NaN,NaN,False
6,4.002017e+12,400,2017010106,0.0000,0.0000,0.0000,0.0,0.0,0.0,0.000,0.0,0.0,NaN,NaN,NaN,NaN,False
7,4.002017e+12,400,2017010107,0.6875,67.8875,1.1375,0.0,NaN,NaN,83.375,0.0,0.0,NaN,NaN,NaN,NaN,False
8,4.002017e+12,400,2017010108,0.4875,67.8500,1.1125,0.0,NaN,NaN,84.875,0.0,0.0,NaN,NaN,NaN,NaN,False
9,4.002017e+12,400,2017010109,0.3750,67.9625,1.1625,0.0,NaN,NaN,86.225,0.0,0.0,NaN,NaN,NaN,NaN,False

In [272]:
data.columns

Index(['지점일시', '지점', '일시', '8h_celsius', '8h_windD', '8h_windV',
       '8h_precipitaiton', '8h_spotAtoPressure', '8h_seaAtoPressure',
       '8h_humidity', '8h_insolation', '8h_sunshine', '사고번호', '발생요일', '발생시군구',
       '사고내용', '음주사고발생', '음주사고여부'],
      dtype='object')

In [275]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244981 entries, 7 to 244987
Data columns (total 18 columns):
지점일시                  244981 non-null float64
지점                    244981 non-null int64
일시                    244981 non-null int64
8h_celsius            244981 non-null float64
8h_windD              244981 non-null float64
8h_windV              244981 non-null float64
8h_precipitaiton      244981 non-null float64
8h_spotAtoPressure    244981 non-null float64
8h_seaAtoPressure     244981 non-null float64
8h_humidity           244981 non-null float64
8h_insolation         244981 non-null float64
8h_sunshine           244981 non-null float64
사고번호                  244981 non-null float64
발생요일                  2825 non-null object
발생시군구                 2825 non-null object
사고내용                  2825 non-null object
음주사고발생                244981 non-null object
음주사고여부                244981 non-null int64
dtypes: float64(11), int64(3), object(4)
memory usage: 33.6+ MB

In [277]:
tmp = ['8h_celsius', '8h_windD', '8h_windV',
       '8h_precipitaiton', '8h_spotAtoPressure', '8h_seaAtoPressure',
       '8h_humidity', '8h_insolation', '8h_sunshine']
# nan값을 평균값으로 대체
for i in tmp:
    data[i] = data[i].fillna((data[i].mean()))

In [278]:
data = data[7:][:]

In [279]:
data.head()

,지점일시,지점,일시,8h_celsius,8h_windD,8h_windV,8h_precipitaiton,8h_spotAtoPressure,8h_seaAtoPressure,8h_humidity,8h_insolation,8h_sunshine,사고번호,발생요일,발생시군구,사고내용,음주사고발생,음주사고여부
14,4.002017e+12,400,2017010114,2.4500,64.2250,1.1500,0.0,1001.583338,1003.506668,80.4250,0.0,0.0,2.017068e+15,NaN,NaN,NaN,False,0
15,4.002017e+12,400,2017010115,3.2875,63.1375,1.2375,0.0,1001.583338,1003.506668,77.6125,0.0,0.0,2.017068e+15,NaN,NaN,NaN,False,0
16,4.002017e+12,400,2017010116,4.1250,62.7500,1.2750,0.0,1001.583338,1003.506668,74.9375,0.0,0.0,2.017068e+15,NaN,NaN,NaN,False,0
17,4.002017e+12,400,2017010117,4.8875,62.7000,1.1875,0.0,1001.583338,1003.506668,72.3000,0.0,0.0,2.017068e+15,NaN,NaN,NaN,False,0
18,4.002017e+12,400,2017010118,5.5250,62.3875,1.2500,0.0,1001.583338,1003.506668,70.3000,0.0,0.0,2.017068e+15,NaN,NaN,NaN,False,0

In [280]:
data.shape

(244974, 18)

In [281]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244974 entries, 14 to 244987
Data columns (total 18 columns):
지점일시                  244974 non-null float64
지점                    244974 non-null int64
일시                    244974 non-null int64
8h_celsius            244974 non-null float64
8h_windD              244974 non-null float64
8h_windV              244974 non-null float64
8h_precipitaiton      244974 non-null float64
8h_spotAtoPressure    244974 non-null float64
8h_seaAtoPressure     244974 non-null float64
8h_humidity           244974 non-null float64
8h_insolation         244974 non-null float64
8h_sunshine           244974 non-null float64
사고번호                  244974 non-null float64
발생요일                  2825 non-null object
발생시군구                 2825 non-null object
사고내용                  2825 non-null object
음주사고발생                244974 non-null object
음주사고여부                244974 non-null int64
dtypes: float64(11), int64(3), object(4)
memory usage: 33.6+ MB

In [282]:
# 음주사고발생 False = 0, True = 1로 바꾸어준다
data['음주사고발생'] = data['음주사고발생'].astype('str') 

#for 구문은 너무 오래걸린다... 5분이나 계속돼서 끔.

#true_index = data[data['음주사고발생'] == True].index
#false_index =  data[data['음주사고발생'] == False].index

#for i in true_index:
#    data['음주사고발생'][i] = 1
#for i in false_index:
#    data['음주사고발생'][i] = 0

In [283]:
data['음주사고여부'] = data['음주사고발생'].replace('True',1).replace('False',0)

In [284]:
data[15:30]

,지점일시,지점,일시,8h_celsius,8h_windD,8h_windV,8h_precipitaiton,8h_spotAtoPressure,8h_seaAtoPressure,8h_humidity,8h_insolation,8h_sunshine,사고번호,발생요일,발생시군구,사고내용,음주사고발생,음주사고여부
29,4.002017e+12,400,2017010204,4.9750,64.1000,1.0000,0.0,1001.583338,1003.506668,75.3750,0.0,0.0,2.017068e+15,NaN,NaN,NaN,False,0
30,4.002017e+12,400,2017010205,4.9500,56.3000,0.8875,0.0,1001.583338,1003.506668,76.0500,0.0,0.0,2.017068e+15,NaN,NaN,NaN,False,0
31,4.002017e+12,400,2017010206,4.8500,55.2000,0.8125,0.0,1001.583338,1003.506668,77.8625,0.0,0.0,2.017068e+15,NaN,NaN,NaN,False,0
32,4.002017e+12,400,2017010207,4.8000,64.7875,0.8500,0.0,1001.583338,1003.506668,79.9250,0.0,0.0,2.017010e+15,월요일,서울특별시 강남구 수서동,경상사고,True,1
33,4.002017e+12,400,2017010208,4.8375,82.5500,0.9375,0.0,1001.583338,1003.506668,81.6625,0.0,0.0,2.017068e+15,NaN,NaN,NaN,False,0
34,4.002017e+12,400,2017010209,4.9375,99.4750,1.0000,0.0,1001.583338,1003.506668,83.1625,0.0,0.0,2.017068e+15,NaN,NaN,NaN,False,0
35,4.002017e+12,400,2017010210,5.1375,114.2375,0.9875,0.0,1001.583338,1003.506668,84.5125,0.0,0.0,2.017068e+15,NaN,NaN,NaN,False,0
36,4.002017e+12,400,2017010211,5.4750,141.5250,0.9875,0.0,1001.583338,1003.506668,85.5000,0.0,0.0,2.017068e+15,NaN,NaN,NaN,False,0
37,4.002017e+12,400,2017010212,5.9125,168.6875,1.0875,0.0,1001.583338,1003.506668,85.5500,0.0,0.0,2.017068e+15,NaN,NaN,NaN,False,0
38,4.002017e+12,400,2017010213,6.3500,202.9000,1.3500,0.0,1001.583338,1003.506668,84.5875,0.0,0.0,2.017068e+15,NaN,NaN,NaN,False,0
39,4.002017e+12,400,2017010214,6.9250,229.5000,1.5750,0.0,1001.583338,1003.506668,81.2125,0.0,0.0,2.017068e+15,NaN,NaN,NaN,False,0
40,4.002017e+12,400,2017010215,7.3875,248.5625,1.7875,0.0,1001.583338,1003.506668,77.5750,0.0,0.0,2.017068e+15,NaN,NaN,NaN,False,0
41,4.002017e+12,400,2017010216,7.7250,258.5500,1.9250,0.0,1001.583338,1003.506668,74.6625,0.0,0.0,2.017068e+15,NaN,NaN,NaN,False,0
42,4.002017e+12,400,2017010217,7.9625,269.5625,2.1500,0.0,1001.583338,1003.506668,71.8125,0.0,0.0,2.017068e+15,NaN,NaN,NaN,False,0
43,4.002017e+12,400,2017010218,8.1250,284.1125,2.3000,0.0,1001.583338,1003.506668,69.1500,0.0,0.0,2.017068e+15,NaN,NaN,NaN,False,0

In [285]:
print(data.columns)
print(data.shape)

Index(['지점일시', '지점', '일시', '8h_celsius', '8h_windD', '8h_windV',
       '8h_precipitaiton', '8h_spotAtoPressure', '8h_seaAtoPressure',
       '8h_humidity', '8h_insolation', '8h_sunshine', '사고번호', '발생요일', '발생시군구',
       '사고내용', '음주사고발생', '음주사고여부'],
      dtype='object')
(244974, 18)

In [286]:
from sklearn import datasets
from sklearn.cross_validation import train_test_split

# x는 독립변수, y는 종속변수

x = data[['8h_celsius', '8h_windD', '8h_windV',
       '8h_precipitaiton', '8h_spotAtoPressure', '8h_seaAtoPressure',
       '8h_humidity', '8h_insolation', '8h_sunshine']]

y = data[['음주사고여부']]


print(x.shape)
print(y.shape)

# train과 test set으로 분리
#train_test_split()는 원래 트레이닝 데이터와 결과값을 무작위로 섞은후 test_size로 주어진 비율만큼 각각 나눈다.

x_train, x_test, y_train, y_test =train_test_split(x,y, test_size=0.3)

print('x_train = ', x_train.shape)
print('x_test = ', x_test.shape)
print('y_train = ', y_train.shape)
print('y_test = ', y_test.shape)

(244974, 9)
(244974, 1)
x_train =  (171481, 9)
x_test =  (73493, 9)
y_train =  (171481, 1)
y_test =  (73493, 1)

In [287]:
# 모두다 범주형이기 때문에 category로 type을 변경하기.

x_train[:] = x_train[:].astype('category')
x_test[:] = x_test[:].astype('category')

In [288]:
x_train.head()

,8h_celsius,8h_windD,8h_windV,8h_precipitaiton,8h_spotAtoPressure,8h_seaAtoPressure,8h_humidity,8h_insolation,8h_sunshine
132622,1.4375,40.1000,0.4500,0.0,1001.583338,1003.506668,0.0000,0.000000,0.000000
24120,15.7625,95.8500,1.4875,0.0,1001.583338,1003.506668,53.2000,0.000000,0.000000
231403,24.3125,247.9000,1.9500,0.0,1001.583338,1003.506668,53.1139,0.000000,0.000000
163379,19.9750,251.4125,1.5875,0.0,1001.583338,1003.506668,72.2500,-0.000521,0.072947
115449,10.2500,286.1875,2.7000,0.0,1001.583338,1003.506668,65.6500,-0.000521,0.072947

## 선형회귀모델링

In [291]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.model_selection import GridSearchCV
from sklearn import metrics
import warnings
import numpy as np
pd.options.mode.chained_assignment = None
warnings.filterwarnings("ignore", category=DeprecationWarning)

# 선형회귀 모델을 초기화
lModel = LinearRegression()

# 모델을 학습시킨다.
y_train_log = np.log1p(y_train)
lModel.fit(x_train, y_train_log)

# 예측하고 정확도를 평가한다.
preds = lModel.predict(x_train)
#print ("RMSLE Value For Linear Regression: ",
#       rmsle(np.exp(y_train_log),np.exp(preds), False))

preds[0:100]

array([[0.00706747],
       [0.00695087],
       [0.00852651],
       [0.00835346],
       [0.00896178],
       [0.00630459],
       [0.00871337],
       [0.00749425],
       [0.00839954],
       [0.00856898],
       [0.00663125],
       [0.00613735],
       [0.00512712],
       [0.00945732],
       [0.00798377],
       [0.00631347],
       [0.00904044],
       [0.00619762],
       [0.0087354 ],
       [0.00932943],
       [0.00722283],
       [0.00753464],
       [0.00797156],
       [0.00898396],
       [0.00761543],
       [0.00923757],
       [0.0092194 ],
       [0.00974839],
       [0.00841323],
       [0.0092633 ],
       [0.00945728],
       [0.00947229],
       [0.00856456],
       [0.0084033 ],
       [0.00804022],
       [0.00912931],
       [0.00685569],
       [0.00850346],
       [0.00803886],
       [0.00775838],
       [0.0061711 ],
       [0.00860252],
       [0.00827711],
       [0.0056708 ],
       [0.00860505],
       [0.00971868],
       [0.01000588],
       [0.00806369],
       [0.00691182],
       [0.00769163],
       [0.00991615],
       [0.00872131],
       [0.0090742 ],
       [0.00973313],
       [0.00918968],
       [0.00871181],
       [0.00840315],
       [0.00784452],
       [0.00653371],
       [0.00693386],
       [0.00619871],
       [0.00923396],
       [0.00972399],
       [0.0086691 ],
       [0.01024064],
       [0.00601217],
       [0.00687355],
       [0.00853659],
       [0.00910528],
       [0.00783058],
       [0.00982489],
       [0.00901528],
       [0.00818401],
       [0.00857211],
       [0.00615514],
       [0.00948185],
       [0.00696512],
       [0.00749238],
       [0.01006688],
       [0.01013294],
       [0.0079157 ],
       [0.00999673],
       [0.00685313],
       [0.00708731],
       [0.00666357],
       [0.00841615],
       [0.00789139],
       [0.00949655],
       [0.00670855],
       [0.00783799],
       [0.00849085],
       [0.00719906],
       [0.0081392 ],
       [0.00830956],
       [0.00822937],
       [0.00737451],
       [0.0063472 ],
       [0.00708554],
       [0.0087991 ],
       [0.00881545]])